# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment files
*.env

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.o
*.out
*.class

credentials.json
token.json
