# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment files
*.env
.venv

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.o
*.out
*.class

# ignore db files
*.sqlite3


# ignore db files
*.sqlite3


credentials.json
token.json
*.sqlite3